*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: black;
    position: fixed;
    left: 0;
    width: 100%;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px ;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px; 
}

.nav-link:hover{
    padding: 10px;
    align-items: center;
    background-color: chocolate;
    color: rgb(255, 255, 255);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s; 
}


@media(max-width:720px){
    .hamburger{
        display: block ;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: black;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px;
    }

    .nav-menu.active{
        left: 0;
    }
}

header.sticky{
    background-color: rgb(245, 0, 0);
}